{% load static i18n %}<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% trans "Dr. Down" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="EPS/MDS">

    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

    <!-- Latest compiled and minified Bootstrap 4 beta CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'core/homepage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'core/homepage/css/freelancer.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block script %}
    {%  endblock %}
  </head>
  <body id="page-top">
    <!-- Navigation -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'core:home' %}#page-top">{% trans "Dr. Down" %}</a>
        <button class="navbar-toggler mb-3 navbar-toggler-right text-uppercase btn-secondary text-white rounded border border-secondary" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {% trans "Menu" %}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 rounded js-scroll-trigger" href="{% url 'core:home' %}#page-top"><button type="button" class="btn btn-secondary text-uppercase"><strong>{% trans "Home" %}</strong></button></a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 rounded js-scroll-trigger" href="{% url 'core:about' %}"><button type="button" class="btn btn-secondary text-uppercase"><strong>{% trans "Down's Syndrome" %}</strong></button></a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 rounded js-scroll-trigger" href="{% url 'forum:list_categories' %}"><button type="button" class="btn btn-secondary text-uppercase"><strong>{% trans "Forums" %}</strong></button></a>
            </li>
            {% if user.is_authenticated %}
            <div class="btn-group">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link px-0 mt-2" href= "{% url 'users:detail' request.user.username %}"><button type="button" class="btn btn-secondary text-uppercase"><strong>{{request.user.username}}</strong></button></a>
              </li>

            </div>
            {% else %}
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 rounded js-scroll-trigger" href="{% url 'account_login' %}"><button type="button" class="btn btn-secondary text-uppercase"><strong>{% trans "Sign in" %}</strong></button></a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 rounded js-scroll-trigger" href="{% url 'account_signup' %}"><button type="button" class="btn btn-secondary text-uppercase"><strong>{% trans "Sign up" %}</strong></button></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock navbar %}


    {% if messages %}
      {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}


    <div class="content content-margin">
      {% block content %}
      {% endblock content %}
    </div>
        <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
       <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h4 class="text-uppercase mb-4">CRIS DOWN</h4>
            <p class="lead">
              {% trans "Centro de Referência Interdisciplinar em Síndrome de Down" %}
              <br>{% trans "Location: HRAN - Setor Hospitalar Norte, quadra 1, bloco A, Asa Norte" %}
              <br>{% trans "Phone: 3325-4219" %}
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>{% trans "Copyright &copy; Dr. Down 2018" %}</small>
      </div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    {% block modal %}{% endblock modal %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Required by Bootstrap v4 beta -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'core/js/project.js' %}"></script>
      <script src="{% static 'core/homepage/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'core/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- Plugin JavaScript -->
      <script src="{% static 'core/homepage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
      <!-- Custom scripts for this template -->
      <script src="{% static 'core/homepage/js/freelancer.min.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
