{% extends user.is_authenticated|yesno:"core/base.html,core/base-nav.html" %}
{% load static %}
{% load i18n %}

{% block script %}
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top}, 600);
   });
});
</script>
{% endblock %}

{% block css %}
	{{ block.super }}
  <link href="{% static 'core/css/info.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/home.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}{% trans "Down's Syndrome infos" %}{% endblock title %}

{% block content %}

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vaccine">
    <div class="modal-content">
      <div class="modal-body">
      {% include "core/vaccine_schedule.html" %}
      </div>
    </div>
  </div>
</div>

<section class="mb-0 sumary marginl-1">
  <div class="container border-blue pt-4 pb-4" id="sumary">
    <h2 class="text-center text-uppercase text-secondary">{% trans "Summary" %}</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
      	<li><a class="lead scroll hover-yellow text-blue-1" href="#text-about-sd", alt=""><u>{% trans "About Down's syndrome" %}</u></a></li>
      	<li><a class="lead scroll hover-yellow text-blue-1" href="#faq", alt=""><u>{% trans "Frequently Asked Questions (FAQ)" %}</u></a></li>
      	<li><a class="lead scroll hover-yellow text-blue-1" href="#question-1", alt=""><u>{% trans "What can be done to prevent Down's Syndrome?" %}</u></a></li>
      </div>
      <div class="col-lg-4 mr-auto sum">
      	<li><a class="lead scroll hover-yellow text-blue-1" href="#question-2", alt=""><u>{% trans "Is Down Syndrome a Disease? Can I catch it during my life?" %}</u></a></li>
      	<li><a class="lead scroll hover-yellow text-blue-1" href="#question-3", alt=""><u>{% trans "How can I identify Down Syndrome?" %}</u></a></li>
      	<li><a class="lead scroll hover-yellow text-blue-1" href="#question-4", alt=""><u>{% trans "How far does the autonomy of a child with Down syndrome develop?" %}</u></a></li>
      </div>
    </div>
  </div>
</section>

<section class="mb-0" id="text-about-sd">
  	<div class="container">
	    <h2 class="text-center text-uppercase text-blue-1">{% trans "About Down's Syndrome" %}</h2>
	    <hr class="star-dark mb-5">
	    <div class="row">
	      	<div class="col-lg-4 ml-auto">
		        <p class="lead">
		        	{% trans "Down syndrome is a genetic condition caused by a mutation. Its characterized by the presence of an extra chromosome in all or most of a person's cells." %}
				</p>
	        	<p class="lead">
		        	{% trans "A person with Down syndrome is able to live healthily and integrate with society. But the accompaniment of health professionals is of paramount importance to help this person reach his full potential and live with quality." %}
				</p>
		        <p class="lead">
		        	{% trans "A person with Down syndrome is able to live healthily and integrate with society. But the accompaniment of health professionals is of paramount importance to help this person reach his full potential and live with quality." %}
				</p>
		        <p class="lead">
		        	{% trans "Some health risks arise in a way related to the presence of the syndrome. One of them is the increased risk of heart problems, especially during the first years of life, which causes several people with Down Syndrome to undergo the need to perform surgeries while they are still young." %}
				</p>
	      	</div>
	    	<div class="col-lg-4 mr-auto">
        		<p class="lead">
					{% trans "People with Down Syndrome have several characteristics that are generated by their genetic mutation, but there is a common point in all of them: an intellectual deficit. But this does not prevent the person with Down Syndrome from succeeding in his professional, academic and personal life." %}
				</p>
				<p class="lead">
					{% trans "A person with Down Syndrome is a capable human being who can work in many areas, ranging from the performing arts, or a career in the field of education to political positions." %}
				</p>
				<p class="lead">
					{% trans "The lack of information about the syndrome and the people affected by it is the main cause of the segregation to which these people can be subjected. Therefore, it is essential to have comprehension and understatement from society and, above all, family members about the care and duties needed by those around them." %}
				</p>
      		</div>
	    </div>
  	</div>
</section>

<section class="bg-primary text-white text-center" id="faq">
  	<div class="container">
	   <!-- <img class="img-fluid mb-5 d-block mx-auto img-short" src="{% static 'images/img-question.png' %}" alt=""> -->
    	<h1 class="text-uppercase text-secondary mb-0 text-size-9">FAQ</h1>
    	<hr class="star-dark bg-star-blue">
    	<h2 class="font-weight-light mb-0 text-secondary">
    		<p class="lead text-white text-center text-secondary">{% trans "Frequently Asked Questions" %}</p>
    	</h2>
  	</div>
</section>

<div class="container">
  <br>
  <section class="mb-0 border-blue margin-1" >

    	<div class="container" id="question-1">
      	<h2 class="text-center text-uppercase text-size-2 text-blue-1" >{% trans "What can be done to prevent Down's Syndrome?" %}</h2>
      	<div class="row">
        	<div class="col-lg-8 mx-auto text-center">
  	        <p class="lead"> {% trans "Even though the chance of Down's syndrome increases according to the age range of the child's parents, Down's syndrome is not caused by the parents, it's no one's fault and there's nothing you can do to avoid it. This syndrome affects people of all races, levels of study, social classes and others." %}</p>
        	</div>
        </div>

        <div class="container" id="question-2">
          <hr class="star-dark mb-5" >
          <h2 class="text-center text-uppercase text-size-2 text-blue-1" >{% trans "Is Down Syndrome a Disease? Can I catch it during my life?" %}</h2>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="lead">{% trans "Down Syndrome is not a disease, just a condition that affects the life of an individual since birth and requires greater attention and care from the parents." %}</p>
            </div>
          </div>
        </div>

        <div class="container" id="question-3">
      		<hr class="star-dark mb-5">
      		<h2 class="text-center text-uppercase text-size-2 text-blue-1" >{% trans "How can I identify Down Syndrome?" %}</h2>
        	<div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="lead">{% trans "Down Syndrome can be detected during pregnancy. You should see a doctor for the diagnosis." %}</p>
          	</div>
      		</div>
        </div>

        <div class="container" id="question-4">
      		<hr class="star-dark mb-5" >
      		<h2 class="text-center text-uppercase text-size-2 text-blue-1" >{% trans "How far does the autonomy of a child with Down syndrome develop?" %}</h2>
        	<div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="lead">{% trans "There is no fixed limit that represents a developmental apex of a child with Down Syndrome. It is common for medical monitoring and the help of family members or caregivers to facilitate a child's development." %}</p>
          	</div>
        	</div>
      	</div>
      </div>
  </section>

  <section class="mb-3 border-blue margin-1" id="further-reading">
      <div class="container ">
        <h2 class="text-center text-uppercase text-size-2 text-secondary text-blue-1">{% trans "Further reading" %}</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="lead">
                <p><a class="lead hover-yellow text-blue-1 link" href=".bd-example-modal-lg" data-toggle="modal" data-target=".bd-example-modal-lg">{% trans "Vaccine Schedule" %}</a></p>
                <p><a class="lead hover-yellow text-blue-1 link" href="http://www.movimentodown.org.br/sindrome-de-down/o-que-e/">O que é Síndrome de Down? - Movimento Down</a></p>
                <p><a class="lead hover-yellow text-blue-1 link" href="http://www.fsdown.org.br/sobre-a-sindrome-de-down/o-que-e-sindrome-de-down/">O que é Síndrome de Down? - Fundação Síndrome de Down</a></p>
                <p><a class="lead hover-yellow text-blue-1 link" href="http://bvsms.saude.gov.br/bvs/publicacoes/cuidados_saude_pessoas_sindorme_down.pdf">CUIDADOS DE SAÚDE ÀS PESSOAS COM SÍNDROME DE DOWN - MINISTÉRIO DA SAÚDE (PDF)</a></p>
                <p><a class="lead hover-yellow text-blue-1 link" href="http://bvsms.saude.gov.br/bvs/publicacoes/diretrizes_atencao_pessoa_sindrome_down.pdf">Diretrizes de Atenção à Pessoa com Síndrome de Down - MINISTÉRIO DA SAÚDE (PDF)</a></p>
              </p>
            </div>
        </div>
      </div>
  </section>
</div>

<div class="container">
  <iframe src="http://www.feed43.com/1558312155644030.xml" style="width: 100%; height: 30rem" class="border-blue">
  </iframe>
</div>

{% endblock %}
