{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}
  {% url 'events:create_event' as url %}
  {% if request.path == url %}
    {% trans "New Event" %}
   {% else %}
    {% trans "Edit Event" %}
  {% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  function toggle(checkboxID, toggleID) {
     var checkbox = document.getElementById(checkboxID);
     var toggle = document.getElementById(toggleID);
     if (checkbox.checked){
        toggle.readOnly= true;
        toggle.value=0;
     }
     else {
      toggle.readOnly= false;
     }
  }
</script>

{% endblock script %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if form.date.errors %}
        <div class="alert alert-danger col" role="alert">{{ form.date.errors }}</div>
      {% endif %}
    </div>
    {% if object %}
      <h2>{% trans 'Edit Event' %}</h2>
    {% else %}
      <h2>{% trans 'New Event' %}</h2>
    {% endif %}
    <form method='post' class="mt-3">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col">
          <label>{% trans 'Name' %}*</label>
          {% if object.name %}
            <input class="form-control" type="text" name="name" maxlength="50" required id="id_name" value="{{ object.name }}"/>
            <small class="text-muted">{% trans 'Enter a event name' %}</small>
          {% else %}
            <input class="form-control" type="text" name="name" maxlength="50" required id="id_name"/>
            <small class="text-muted">{% trans 'Enter a event name' %}</small>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="id_date">{% trans 'Date' %}*</label>
          {% if object.date %}
            <input class="form-control" type="date" name="date" required id="id_date" value="{{ object.date | date:'Y-m-d' }}" />
            <small class="text-muted">{% trans 'Enter a event date' %}</small>
          {% else %}
            <input class="form-control" type="date" name="date" required id="id_date" />
            <small class="text-muted">{% trans 'Enter a event date' %}</small>
          {% endif %}
        </div>

        <div class="form-group col">
          <label for="id_time">{% trans 'Time' %}*</label>
          {% if object.time %}
            <input class="form-control" type="time" name="time" required id="id_time" value="{{ object.time }}"/>
            <small class="text-muted">{% trans 'Enter a event time' %}</small>
          {% else %}
            <input class="form-control" type="time" name="time" required id="id_time"/>
            <small class="text-muted">{% trans 'Enter a event time' %}</small>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="id_organize_by">{% trans 'Organize by' %}*</label>
          {% if object.organize_by %}
            <input class="form-control" type="text" name="organize_by" maxlength="80" required id="id_organize_by" value="{{ object.organize_by }}"/>
            <small class="text-muted">{% trans 'Enter a event organizer' %}</small>
          {% else %}
            <input class="form-control" type="text" name="organize_by" maxlength="80" required id="id_organize_by" />
            <small class="text-muted">{% trans 'Enter a event organizer' %}</small>
          {% endif %}
        </div>
        <div class="form-group col">
          <label for="id_location">{% trans 'Location' %}*</label>
          {% if object.location %}
            <input class="form-control" type="text" name="location" maxlength="80" required id="id_location" value="{{ object.location }}"/>
            <small class="text-muted">{% trans 'Enter a event location' %}</small>
          {% else %}
            <input class="form-control" type="text" name="location" maxlength="80" required id="id_location"/>
            <small class="text-muted">{% trans 'Enter a event location' %}</small>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <label class="col" for="id_value">{% trans 'Value of event' %}*</label>
        <div class="col-auto">
          {% if object.free %}
            <small class="text-muted mr-1">{% trans 'Event is free?' %}</small>
            <input type="checkbox" name="free" onclick="toggle('id_free', 'id_value')" id="id_free" checked/>
          {% else %}
            <small class="text-muted mr-1">{% trans 'Event is free?' %}</small>
            <input type="checkbox" onclick="toggle('id_free', 'id_value')" name="free" id="id_free"/>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {% if object.free %}
          <input class="form-control" type="number" name="value" step="0.010" required id="id_value" min="0" value="0" readonly/>
          <small class="text-muted">{% trans 'Enter a value event' %}</small>
        {% elif object.value %}
          <input class="form-control" type="number" name="value" step="0.010" required id="id_value" min="0" value="{{ object.value|stringformat:'g' }}"/>
          <small class="text-muted">{% trans 'Enter a value event' %}</small>
        {% else %}
          <input class="form-control" type="number" name="value" step="0.010" required id="id_value" min="0" />
          <small class="text-muted">{% trans 'Enter a value event' %}</small>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_description">{% trans 'Description' %}*</label>
        {% if object.description %}
          <textarea class="form-control" name="description" cols="40" rows="5" maxlength="500" id="id_description" required>{{object.description}}</textarea>
          <small class="text-muted">{% trans 'Enter event description and details' %}</small>
        {%else%}
          <textarea class="form-control" name="description" cols="40" rows="5" maxlength="500" id="id_description" required></textarea>
          <small class="text-muted">{% trans 'Enter event description and details' %}</small>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-success float-right">{% trans 'Submit' %}</button>
    </form>
    <a href="{% url 'events:list_events' %}"><button type="submit" class="btn btn-danger mr-1 float-right">{% trans 'Cancel' %}</button></a>
  </div>
{% endblock %}