{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "User:" %} {{ object.username }}{% endblock %}

{% block css %}
  {{block.super}}
  <link href="{% static 'users/css/user_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
    {% if user.patient and user.patient.have_procedures_almost_late %}
      <div class="alert alert-warning" role="alert">
          {% trans "Hey! You have procedures to be made."%}
          <a href="{% url 'careline:checklist_list' %}" class="alert-link">{% trans "Click here to check it" %}.</a>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}
    {% if user.responsible and user.responsible.have_patient_needing_atention %}
      <div class="alert alert-warning" role="alert">
        {% trans "One or more of your patients needs attention. Some procedures may be behind schedule."%}
        <a href="{% url 'careline:checklist_list' %}" class="alert-link">{% trans "Click here to check it" %}.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
  {% endif %}
</div>

<div class="container">
          <div class="row justify-content-center">
            <div class="col-auto ">
              <div class="sticky-top">

                {% if user.employee %}
                  <h2 class="text-center">{% trans 'Employee' %}</h2>
                {% elif user.patient %}
                  <h2 class="text-center">{% trans 'Patient' %}</h2>
                {% elif user.responsible %}
                  <h2 class="text-center">{% trans 'Responsible' %}</h2>
                {% elif user.healthteam %}
                  <h2 class="text-center">{% trans 'Health Team' %}</h2>
                {% endif %}
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" width="300px" class="img-responsive center-block img-thumbnail">
                {% else %}
                    <img src="{% static 'users/img/user.png' %}" width="300px" class="img-responsive center-block img-thumbnail">
                {% endif %}

                <div class="row"><br></div>
                {% if object == request.user %}
                <div class="row">
                  <a class="btn btn-secondary btn-block btn-margin" href="{% url 'users:update' %}" role="button">{% trans 'Edit Profile' %}</a>
                </div>

                <div class="row">
                  <a class="btn btn-secondary btn-block btn-margin" href="{% url 'account_email' %}" role="button">{% trans 'Change E-Mail' %}</a>
                </div>

                <div class="row">
                  <a class=" btn btn-danger btn-block btn-margin" href="{% url 'users:delete' %}" role="button">{% trans 'Delete Account' %}</a>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="col border-left ml-3 mr-3">
              {% if object.name %}
                <div class="row">
                  <label class="col"> <strong>{% trans 'Name: '%} </strong> </label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert"> {{ user.name }}</div>
                </div>
              {% endif %}

              {% if object.gender %}
                <div class="row">
                  <label class="col"> <strong>{% trans 'Gender: '%} </strong> </label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert"> {{ user.gender}} </div>
                </div>
              {% endif %}

              {% if object.telephone %}
                <div class="row">
                  <label class="col"> <strong>{% trans 'Telephone: '%} </strong> </label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert"> {{ user.telephone}} </div>
                </div>
              {% endif %}

              {% if object.birthday %}
              <div class="row">
                <label class="col"><strong>{% trans 'Birthday: '%}</strong></label>
                <div class="w-100"></div>
                <div class="col alert alert-dark mx-3" role="alert">{{ user.birthday }}</div>
              </div>
              {% endif %}

              {% if user.employee %}

                <div class="row">
                  <label class="col"><strong>{% trans 'CPF: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ employee_cpf }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'Department: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ employee_department }}</div>
                </div>
              {% endif %}

              {% if user.patient %}

                <div class="row">
                  <label class="col"><strong>{% trans 'SES: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_ses }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'Mother Name: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_mother_name }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'Father Name: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_father_name }}</div>
                </div>
                <div class="row">
                  <label class="col"><strong>{% trans 'Ethnicity: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_ethnicity }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'SUS: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_sus_number }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'Civil registry of birth: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_civil_registry_of_birth }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'Declaration of live birth : '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ patient_declaration_of_live_birth }}</div>
                </div>
              {% endif %}

              {% if user.responsible %}

                <div class="row">
                  <label class="col"><strong>{% trans 'CPF: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ responsible_cpf }}</div>
                </div>



              <label class="col"><strong>{% trans 'Patients: '%}</strong></label>
              {% for patient in responsible_patient %}

                <div class="row">

                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">
                    {{ patient.user.name }} {{ patient.user.last_name}}
                  </div>
                </div>

              {% endfor %}

              {% endif %}

              {% if user.healthteam %}

                <div class="row">
                  <label class="col"><strong>{% trans 'CPF: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ health_team_cpf }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{{ health_team_council_acronym }}:</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ health_team_register_number }}</div>
                </div>

                <div class="row">
                  <label class="col"><strong>{% trans 'Registration State: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ health_team_registration_state }}</div>
                </div>
                <div class="row">
                  <label class="col"><strong>{% trans 'Speciality: '%}</strong></label>
                  <div class="w-100"></div>
                  <div class="col alert alert-dark mx-3" role="alert">{{ health_team_speciality }}</div>
                </div>
              {% endif %}

            </div>
          </div>
</div>


{% endblock content %}
