{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block script %}
  <script type="text/javascript">
    function fMasc(objeto,mascara) {
      obj=objeto
      masc=mascara
      setTimeout("fMascEx()",1)
    }
    function fMascEx() {
      obj.value=masc(obj.value)
    }
    function mTel(tel) {
      tel=tel.replace(/\D/g,"")
      tel=tel.replace(/^(\d)/,"($1")
      tel=tel.replace(/(.{3})(\d)/,"$1)$2")
      if(tel.length == 9) {
        tel=tel.replace(/(.{1})$/,"-$1")
      } else if (tel.length == 10) {
        tel=tel.replace(/(.{2})$/,"-$1")
      } else if (tel.length == 11) {
        tel=tel.replace(/(.{3})$/,"-$1")
      } else if (tel.length == 12) {
        tel=tel.replace(/(.{4})$/,"-$1")
      } else if (tel.length > 12) {
        tel=tel.replace(/(.{4})$/,"-$1")
      }
      return tel;
    }
  </script>

{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div id="div_id_name" class="form-group">
      <label for="id_name" class="col-form-label  requiredField">
          {% trans 'Name' %}<span class="asteriskField">*</span>
      </label>

      <div class="">
        {% if object.name %}
          <input type="text" name="name" maxlength="255" value="{{ object.name }}" class="textinput textInput form-control" required="" id="id_name">
        {% else %}
          <input type="text" name="name" maxlength="255" class="textinput textInput form-control" required="" id="id_name">
          <small id="hint_id_name" class="form-text text-muted">{% trans 'Full user name' %}</small>
        {% endif %}
      </div>
    </div>

    <div id="div_id_gender" class="form-group">
      <label for="id_gender" class="col-form-label  requiredField">
          {% trans 'Gender' %}<span class="asteriskField">*</span>
      </label>
      <div class="">
        <select name="gender" class="select form-control" required="" id="id_gender">
        {% if object.gender %}
          <option value="{{object.gender}}">{{ object.gender }}</option>
        {% else %}
          <option value="" selected="">---------</option>
        {% endif %}

        {% if object.gender != 'Male' and object.gender %}
          <option value="Male">{% trans 'Male' %}</option>
        {% elif object.gender != 'Female' and object.gender %}
          <option value="Female">{% trans 'Female' %}</option>
        {% else %}
          <option value="Female">{% trans 'Female' %}</option>
          <option value="Male">{% trans 'Male' %}</option>
        {% endif %}
        </select>
      </div>
    </div>

    <div id="div_id_telephone" class="form-group">
      <label for="id_telephone" class="col-form-label  requiredField">
          {% trans 'Telephone' %}<span class="asteriskField">*</span>
      </label>
      <div class="">

            {% for error in form.telephone.errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% endfor %}

        {% if object.telephone %}
          <input type="text" name="telephone" value= "{{ object.telephone }}" maxlength="14" class="textinput textInput form-control" required id="id_telephone" onkeydown="javascript: fMasc( this, mTel );" />
        {% else %}
          <input type="text" name="telephone" maxlength="14" class="textinput textInput form-control" required id="id_telephone" onkeydown="javascript: fMasc( this, mTel );" />
        {% endif %}
        <small id="hint_id_telephone" class="form-text text-muted">(xx)xxxxx-xxxx or (xx)xxxx-xxxx</small>
      </div>
    </div>

    <label>{% trans 'Birthday' %}<span class="asteriskField">*</span>
    </label>

    {% for error in form.birthday.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor %}

    {% if object.birthday %}
      <input type="date" name="birthday" value="{{ object.birthday | date:'Y-m-d' }}" required=true class="form-control">
    {% else %}
      <input type="date" name="birthday" required=true class="form-control">
    {% endif %}
    <span class="validity"></span>

    <div id="div_id_photo" class="form-group">
      <label for="id_photo" class="col-form-label ">
        {% trans 'Photo' %}
      </label>
      <div class="">
        <input type="file" name="photo" class="clearablefileinput" id="id_photo" accept=".png, .jpg, .jpeg, .gif">
        <small id="hint_id_photo" class="form-text text-muted">{% trans 'Photo of user' %}.</small>
       </div>
  </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success float-right">{% trans 'Update' %}</button>
      </div>
    </div>
  </form>
  {% if object.name %}
    <a href="{% url 'users:detail' user.username%}"><button type="submit" class="btn btn-danger mr-2 float-right">{% trans 'Cancel' %}</button></a>
  {% endif %}
</div>
{% endblock %}
