.bg-blue {
  background-color: #CAE1FF;
}

hr.bg-star-blue:after{
  background-color: #CAE1FF;
}

#location{
  width: 100%;
}

.text-blue-1{
	color: #2C3E50;
}

a.hover-yellow:hover {
	color: #0A0A2A;
}
