.link{
	text-decoration: underline;
}

a.hover-yellow:hover {
	color: #0A0A2A;
}

.text-blue-1{
	color: #2C3E50;
}

.img-short{
	max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.text-size-9{
	font-size: 9em;
}

.text-size-2{
	font-size: 2em;
}

.border-blue{
	border-color: #2C3E50;
	border-radius: 1em;
	border-style: solid;
}

#sumary{
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.margin-1{
	margin: 0.5em 0.5em 0.5em 0.5em;
}

.marginl-1{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#further-reading{
	
}

