{% extends "core/base.html" %}
{% load markdown_deux_tags %}
{% load static i18n %}
{% block title %}{% trans "Medical Record:" %} {{ related_patient.user.name }}{% endblock %}

{% block css %}
{{block.super}}
  <link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>

    $(document).ready(function() {

      var pathname = window.location.hash;

      if (pathname === ""){
          pathname = "#home";
      }

      $(pathname).addClass("active").addClass("show");
      var obj = $('.nav > li > a[href="' + pathname + '"]');
      obj.parent().addClass('active');
      obj.addClass("show");
      obj.addClass("active");

    })

  </script>

{%endblock script%}


{% block content %}

<div class="container">

  <div class="row justify-content-between mb-3">
    <div class="ml-4">
      <h2 class="text-tertiary">
        {% trans 'Medical Record' %}: {{ related_patient.user.name }}
      </h2>
    </div>
    <div class="float-right mr-4">

      <a href="{% url 'careline:checklist_detail' related_patient.user.username %}" style="font-size:20px; text-decoration:underline;" class="text-tertiary">
        {% trans "Checklist" %}
        <i class="fa fa-angle-double-right" style="font-size:25px;"></i>
      </a>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col">
      <ul class="nav nav-tabs nav-tabs-extension nav-fill">
        <li class="nav-item active">
          <a class="nav-link nav-link-extension py-3 px-2 rounded-top" data-toggle="tab" href="#home">{% trans "Patient data" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu1">{% trans "Evolution" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu2">{% trans "Postnatal data" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu3">{% trans "Medical Exams" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu4">{% trans "Prescription" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu5">{% trans "Complaints" %}</a>
        </li>
        {% if user.healthteam or user.employee %}
        <li class="nav-item">
            <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu6">{% trans "Risks" %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link nav-link-extension py-3 px-2 rounded-top " data-toggle="tab" href="#menu7">{% trans "Curves" %}</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade">
          {% include "medicalrecords/patient_data.html" %}
        </div>

        <div id="menu1" class="tab-pane fade">
          {% include "medicalrecords/evolution.html" %}
        </div>

        <div id="menu2" class="tab-pane fade">
          {% include "medicalrecords/static_data.html" %}
        </div>

        <div id="menu3" class="tab-pane fade">
          {% include "medicalrecords/exams.html" %}
        </div>

        <div id="menu4" class="tab-pane fade">
          {% include "medicalrecords/medicines.html" %}
        </div>

        <div id="menu5" class="tab-pane fade">
          {% include "medicalrecords/complaints.html" %}
        </div>

        <div id="menu6" class="tab-pane fade">
          {% include "medicalrecords/risks.html" %}
        </div>

        <div id="menu7" class="tab-pane fade">
          {% include "medicalrecords/curves.html" %}
        </div>

      </div>

      <div class="row my-1">
        <div class="col"></div>
        <div class="col-auto">
          <a href="{% url 'medicalrecords:pdf' related_patient.user.username %}" style="font-size:20px; text-decoration:underline;" class="text-tertiary">
            {% trans 'Print/Save' %} {% trans 'Medical Record' %}
            <i class="border-left fa fa-print" style="font-size:25px;"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
