{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'New Medical Record' %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'medicalrecords/css/medicalrecords.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="container">

    <h2>{% trans 'Add new Complaint' %}</h2>
    {{ form.media }}

    <form method="post" enctype="multipart/form-data " action="#menu5">

      {% csrf_token %}
      {{ form.description.errors }}
      <label>{% trans 'Description'%} : </label>
      <div style="margin-right: 90%;">
        {{ form.description }}
      </div>

      {% if form.complaint_day.errors %}
          <div div class="alert alert-danger">
            {% for error in form.complaint_day.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
          </div>
      {% endif %}
      <div class="mb-3" style="width: 170px;">
        <label>{% trans 'Day of complaint'%} : </label>
        <input type="date" name="complaint_day" class="form-control">
      </div>

      {{ form.complaint_time.errors }}
      <div class="mb-3" >
        <label>{% trans 'Time of complaint'%} : </label>
        <input style="width: 110px;" type="time" name="complaint_time" class="form-control">
      </div>
      
      <div class="row float-right mr-2">
        <a href="{% url 'medicalrecords:list_medicalrecords' view.kwargs.username  %}" class="btn btn-danger my-3 mx-1" >{% trans "Cancel" %}</a>
        <button type="submit" class="btn btn-success my-3 mx-1">{% trans 'Save' %}</button>
      </div>
    </form>

  </div>

{% endblock %}
