{% load static i18n %}

    <div class="row mb-5">
      <div class="col">
        <h3 >{% trans 'Postnatal data' %}</h3>
      </div>
      {% if user.healthteam %}
        <div class="col-auto">
          {% if related_patient.staticdata.weight %}
              <a href="{% url 'medicalrecords:update_static_data_medicalrecords'  view.kwargs.username %}" class="btn btn-secondary float-right" >{% trans "Edit" %}</a>
          {% else %}
              <a href="{% url 'medicalrecords:create_static_data_medicalrecords'  view.kwargs.username %}" class="btn btn-success float-right" >{% trans "New" %}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="row mb-5">
      {% if related_patient.staticdata %}
        <div class="col border-right">
          <div class="row">
            <div class="col"><label><strong>{% trans 'Weight at birth: '%} </strong></label></div>
            <div class="w-100"></div>
            <div class="col mx-3 alert alert-dark" role="alert"> {{ related_patient.staticdata.weight  }}  {% trans 'grams'%}</div>
          </div>
          <div class="row">
            <div class="col"><label><strong>{% trans 'APGAR: '%}</strong></label></div>
            <div class="w-100"></div>
            <div class="col mx-3 alert alert-dark" role="alert">{{  related_patient.staticdata.APGAR }}</div>
          </div>
          <div class="row">
            <div class="col"><label><strong>{% trans 'Foot Test:'%}</strong></label></div>
            <div class="w-100"></div>
            <div class="col mx-3 alert alert-dark" role="alert">
              <a class="text-secondary" href="{{ related_patient.staticdata.foot_test.url }}"> {{  related_patient.staticdata.foot_test.name }} </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col"><label><strong>{% trans 'Heart Test:'%}</strong></label></div>
            <div class="w-100"></div>
            <div class="col mx-3 alert alert-dark" role="alert">
              <a class="text-secondary" href="{{ related_patient.staticdata.heart_test.url }}"> {{  related_patient.staticdata.heart_test.name }} </a>
            </div>
          </div>
          <div class="row">
            <div class="col"><label><strong>{% trans 'Ear Test:'%}</strong></label></div>
            <div class="w-100"></div>
            <div class="col mx-3 alert alert-dark" role="alert">
              <a class="text-secondary" href="{{ related_patient.staticdata.ear_test.url }}"> {{  related_patient.staticdata.ear_test.name }} </a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="row">
          <h3 class="col mx-3">
            <label><strong>{% trans 'No postnatal data for this patient.'%} </strong></label>
          </h3>
        </div>
      {% endif %}
    </div>
