{% extends view.get_template %}
{% load static i18n %}
{% block title %}{% trans "Categories" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-tertiary">{% trans "Categories" %}</h2>
    </div>
  </div>

  <div class="list-group">
    {% for category in category_list %}
      <a href= "{% url 'forum:list_posts' category.slug category.pk  %}" class=" h-blue list-group-item">
        <h4 class="list-group-item-heading text-tertiary h-blue">{{ category.name }}</h4>
        <p class="text-tertiary h-blue"> {{ category.description }} </p>
      </a>
    {% empty %}
        <h4>{% trans 'There are no categories.'%}</h4>
    {% endfor %}
  </div>
</div>
{% endblock content %}
