{% extends view.get_template %}
{% load i18n %}
{% load static%}
{% load markdown_deux_tags %}

{% block title %}{% trans "Posts" %}{% endblock %}

{% block css %}
{{block.super}}
<link href="{% static 'forum/css/forum.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">

  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a class="text-tertiary" href="{% url 'forum:list_categories' %}">{% trans "Categories" %}</a></li>
      <li class="breadcrumb-item"><a class="text-tertiary" href="{% url 'forum:list_posts' post.category.slug post.category.pk %}">{% trans "Posts" %}</a></li>
      <li class="breadcrumb-item active">{{ post.title }}</li>
    </ol>
  </div>

  <div class="mb-4" style="float:right;">
    {% if user.is_authenticated %}
      <a href="{% url 'forum:create_commentary' post.category.slug post.category.pk post.pk %}" class="btn btn-secondary space">{% trans "New commentary" %}</a>
    {% endif %}
    {% if user.username == post.created_by.username %}
      <a href="{% url 'forum:update_post' post.category.slug post.category.pk post.pk %}" class="btn btn-secondary space">{% trans "Edit" %}</a>
      <a data-toggle="modal" data-target="#delete_post"  href="" class="btn btn-danger space">{% trans "Delete" %}</a>
    {% elif user.is_superuser %}
      <a data-toggle="modal" data-target="#delete_post"  href="" class="btn btn-danger space">{% trans "Delete" %}</a>
    {% endif %}
  </div>
  <h1 class="mt-4">{{ post.title }}</h1>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Author -->
        <p class="lead"> {% trans "by" %} {{ post.created_by }}</p>
        <hr>
        <!-- Date/Time -->
        {% if post.updated_at %}
          <p>{% trans "Updated on" %} {{ post.updated_at }}</p>
          <hr>
        {% else %}
          <p>{% trans "Posted on" %} {{ post.created_at }}</p>
          <hr>
        {% endif %}
        <!-- Post Content -->
        <p class="lead"> {{ post.message|markdown }} </p>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    {% for commentary in commentary_list %}
      <!-- Single Comment -->
      <div class="media mb-4">
        {% if commentary.created_by.photo %}
          <img class="d-flex mr-3 rounded-circle" src="{{commentary.created_by.photo.url}}" alt="" width="40px">
        {% else %}
          <img class="d-flex mr-3 rounded-circle" src="{% static 'users/img/user.png' %}" width="40px">
        {% endif %}
        <div class="media-body">
            <div class="dialogbox">
              <div class="body">
                <span class="tip tip-left"></span>
                  <div class="message">
                    <h5 class="mt-0">{{commentary.created_by.username}}</h5>
                    <p> {{commentary.message}}</p>
                    {% if commentary.updated_at != None %}
                      <p><font size="2" >{% trans 'Updated on'%} {{ commentary.updated_at }}</font></p>
                      {% else %}
                      <p><font size="2">{% trans 'Created on'%} {{ commentary.created_at }}</font></p>
                    {% endif %}
                    {% if user.username == commentary.created_by.username and commentary%}
                      <a href="{% url 'forum:update_commentary' post.category.slug post.category.pk post.pk commentary.pk %}" class="btn btn-secondary">{% trans "Edit" %}</a>
                      <a data-toggle="modal" data-target="#comment-{{ commentary.id }} delete_commentary" href="" class="btn btn-danger">{% trans "Delete" %}</a><br/><br/>
                    {% elif user.is_superuser %}
                      <a data-toggle="modal" data-target="#comment-{{ commentary.id }} delete_commentary" href="" class="btn btn-danger">{% trans "Delete" %}</a><br/><br/>
                    {% endif %}

                      <!-- Delete commentary modal  -->
                      <div class="modal fade" id="comment-{{ commentary.id }} delete_commentary" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">{% trans 'Confirm delete' %}</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <p>{% trans 'Are you sure you want to delete this commentary?' %}</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                              <form method="post" action="{% url 'forum:delete_commentary' post.category.slug post.category.pk post.pk commentary.id %}">
                                {% csrf_token %}
                                <button class="btn btn-danger float-right" type="submit">{% trans 'Delete' %}</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
              </div>
            </div>
        </div>
      </div>
      {% empty %}
        <h4 class="lead text-secondary" align="left">{% trans 'There are no comments yet.'%}</h4>
    {% endfor %}
  </div>

  <!-- Delete post modal -->
  <div class="modal fade" id="delete_post" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans 'Confirm delete' %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>{% trans 'Are you sure you want to delete' %} "{{ post.title }}"?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <form method="post" action="{% url 'forum:delete_post' post.category.slug post.category.pk post.pk %}">
            {% csrf_token %}
            <button class="btn btn-danger float-right" type="submit">{% trans 'Delete' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock content %}
